{% extends "__base.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
  <ul>
  {% for p in persons %}
    <li>
      <div>
        <p>
          <a href="/profile/{{ p.id }}">{{ p.firstName }} {{ p.lastName|upper }}</a>
        </p>
        <address>
          <p>{{ p.address }}</p>
          <p>{{ p.city.zipCode }} {{ p.city.name }}</p>
          <p>{{ p.city.country }}</p>
        </address>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock %}